
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background: #181818ff;
  --highlight:#ba87f6ff;
  --tile:#272929ff;
  --textBody:#e1e1e1;
  --textHeader:#747474;
  $background: #181818ff;
  $highlight: #ba87f6ff;
  $tile: #272929ff;
  $textBody:#e1e1e1;
  $textHeader:#747474;
}
html{
  color: var(--textBody);

}
